
/* Đặt layout chính */
.layout_container {
  display: flex;
  background-color: #f7f9fb;
  margin-top: 100px;
  transition: all 0.3s ease-in-out;
}

/* Sidebar cuộn riêng nếu nội dung dài */
.sidebar_container {
  width: 210px; /* Độ rộng sidebar */
  overflow-y: auto; /* Cuộn riêng nếu nội dung dài */
  overflow-x: hidden;
  transition: width 0.3s ease-in-out;
}

/* Nội dung chính luôn căn giữa */
.content_outlet {
  flex-grow: 1; /* Chiếm hết phần còn lại */
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  overflow: hidden; /* Đảm bảo nội dung chính không bị tràn */
}

.layout_container.collapsed .content_outlet {
  margin-left: -130px; /* Khi sidebar thu nhỏ */
}