.layout_container {
  display: flex;
  background-color: #f7f9fb;
  margin-top: 100px;
  transition: all 0.3s ease-in-out;
}

.sidebar_container {
  width: 210px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s ease-in-out;
}

.content_outlet {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  overflow: hidden;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.layout_container.collapsed .content_outlet {
  margin-left: -120px;
}
