.admin-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    min-height: 100vh;
    padding: 10px;
    background-color: #f4f4f4;
}

.header {
    width: 100%;
    z-index: 1;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 200px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.admin h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.admin h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.search-container {
    margin-bottom: 20px;
}

.search-input {
    width: 800px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.search-input:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    outline: none;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th, .order-table td {
    padding: 12px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

.order-table th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.status {
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    color: #333;
}

.status.completed {
    background-color: #e0ffe0;
    color: #006400;
}

.status.processing {
    background-color: #f0e0ff;
    color: #800080;
}

.status.rejected {
    background-color: #ffe0e0;
    color: #b22222;
}

.status.onhold {
    background-color: #fff5e0;
    color: #ff8c00;
}

.status.intransit {
    background-color: #9c27b0;
    opacity: 0.9;
}

.pagination {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.icons {
    display: flex;
    align-items: center;
}

.notification-bell {
    position: relative;
    font-size: 30px;
    margin-right: 50px;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

.notification-bell:hover {
    color: #0056b3;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
