.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 110px;
    height: 95px;
    margin-right: 12px;
}

.header-admin-text {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.header-search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-search-input {
    width: 300px;
    padding: 12px;
    margin-right: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.header-search-input:focus {
    border-color: #19b8af;
    outline: none;
}

.icons {
    display: flex;
    align-items: center;
}

.notification-bell {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}

.header .profile-picture img {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
    object-fit: cover;
}